.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 20px;
  grid-template-rows: 3fr;
  
}

.positon {
  padding-top: 5%;
  width: 300px;
  height: auto;
  background-image: url(images/earth.jpg);
  background-size: cover;
  color: yellow;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border-radius: 15px;
}

 #cat_image {
  padding-top: 5%;
  width: 10%;
  height: 10%;
 }



h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h4 {
  font-size: larger;
}
